@charset "UTF-8";

:root {
  --black: #141414;
  --grey: #898989;
  --white: #ffffff;
}

* {
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  height: auto;
  line-height: 160%;
}

a[href^="tel"],
a[href^="mailto:"] {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 0 24px 0;
}

h1 {
  margin-bottom: 0;
  line-height: 32px;
}

.emph {
  color: var(--grey);
}

#wrap {
  margin: 0 auto;
  position: relative;
  max-width: 960px;
  width: 90%;
}

.group {
  display: inline-block;
  vertical-align: top;
}

.group:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* this seems broken */

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /*padding: 0 12px;*/
  padding: 0 1.25%;
  /*width: 216px;*/
  width: 22.5%;
  z-index: 9998;
}

#nav .logo {
  display: block;
  margin-bottom: 24px;
  max-width: 80%;
}

#nav ul {
  list-style: none;
}

#nav ul ul {
  color: var(--grey);
  display: none;
  font-size: 14px;
  line-height: 130%;
  margin: 8px 0 16px 16px;
}

#nav ul li {
  display: block;
  margin-bottom: 8px;
}

#nav ul a.active + ul {
  display: block;
}

#nav a {
  color: var(--grey);
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#nav a:hover {
  text-decoration: underline;
}

#nav a.active {
  color: var(--white);
  font-weight: 600;
}

#nav a.active:before {
  background-color: var(--white);
  border-radius: 100%;
  content: "";
  height: 8px;
  left: -24px;
  position: absolute;
  top: 6px;
  width: 8px;
}

#main {
  /*padding: 96px 12px 0 12px;*/
  padding: 96px 1.25% 0 1.25%;
  /*width: 692px;*/
  width: 72%;
}

#main .section {
  padding-bottom: 192px;
}

#main .section .header {
  background: var(--black);
  border-bottom: 1px solid var(--grey);
  display: none;
  margin-bottom: 24px;
  margin-top: 96px;
  padding: 16px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9997;
}

#main .section .header h1 {
  float: left;
}

#main .section .header .top {
  float: right;
  margin-bottom: 0;
}

#main .section .header .top a {
  border-radius: 2px;
  background: var(--white);
  color: var(--black);
  display: inline-block;
  padding: 2px 8px;
  text-decoration: none;
}

#main .section .article {
  padding-bottom: 48px;
}

#main .section .article .heading {
  /*width: 208px;*/
  padding-right: 24px;
  width: 30%;
}

#main .section .article .content {
  /*width: 456px;*/
  width: 65.895953757%;
}

#intro--hello .content h1 span {
  clear: both;
  display: block;
  margin-top: 48px;
}

/* photos */
.gallery {
  margin: 0 0 24px 0;
}

.gallery .photo.hero {
  display: inline-block;
  height: auto;
  margin: 0;
  width: 100%;
}

.gallery .photo {
  margin: 0 24px 24px 0;
  object-fit: cover;
  overflow: hidden;
  /*width: 214px;*/ /* new value */
  width: 213px;
  display: inline-block;
  vertical-align: top;
}

.gallery .photo .img {
  border-radius: 4px;
  max-height: 233px;
  overflow: hidden;
}

.gallery .photo:nth-child(even) {
  margin-right: 0;
}

.gallery .photo .img img {
  display: block;
  height: auto;
  max-width: 100%;
}

.gallery .desc {
  color: var(--grey);
  display: block;
  font-size: 14px;
  line-height: 130%;
  margin-top: 8px;
  text-align: right;
}

/* https://www.cssscript.com/pure-css-photo-gallery-image-lightbox-support/ */
label[for] {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.lightbox {
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: auto;
  z-index: 9998;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.75s ease-out;
  transition: transform 0.75s ease-out;
}

.lightbox img {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  left: 50%;
  max-width: 96%;
  max-height: 96%;
  outline: 9999px solid rgba(0, 0, 0, 0.88);
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked + .lightbox {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"]:checked ~ #content {
  opacity: 0.125;
}

.in-mind {
  padding-top: 96px;
}

.in-mind p {
  font-size: 30px;
  line-height: 32px;
  color: var(--grey);
  text-align: center;
  font-style: italic;
}

/* media queries */
@media screen and (max-width: 1065px) {
  #main {
    width: 70%;
  }

  #main .section .article .heading,
  #main .section .article .content {
    width: auto;
  }

  #main .section .article h2 {
    margin-bottom: 24px;
  }

  .in-mind {
    padding-top: 24px;
  }
}

@media screen and (max-width: 1024px) {
  #wrap {
    max-width: 720px;
  }

  #nav {
    position: static;
    top: 0;
    padding-top: 48px;
    width: 100%;
  }

  #nav .logo {
    max-width: 160px;
    float: left;
  }

  #nav ul {
    display: inline-block;
    padding-left: 48px;
    padding-top: 40px;
    float: right;
    width: 50%;
    text-align: left;
  }

  #nav ul a.active + ul,
  #nav ul ul {
    display: none;
  }

  #nav a.active:before {
    display: none;
  }

  #main {
    padding: 96px 0;
    width: 100%;
  }

  #main .section {
    padding-bottom: 0;
  }

  #main .section .article .heading,
  #main .section .article .content {
    padding-left: 0;
    width: 100%;
  }

  #main .section .header {
    display: block;
    margin-top: 96px;
    margin-bottom: 24px;
  }

  .gallery .photo,
  .gallery .photo:nth-child(even) {
    margin: 24px 0 0 0;
    width: 100%;
  }

  .gallery .photo .img img {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #nav .logo {
    float: none;
    margin: 0 auto;
  }

  #nav ul {
    clear: both;
    display: block;
    padding-left: 0;
    float: none;
    width: 100%;
  }

  #nav ul li {
    padding: 12px 0;
    border-bottom: 1px solid var(--grey);
  }

  #nav ul li a {
    color: #fff;
  }
}
