@charset "UTF-8";

* {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #242424;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  line-height: 160%;
}

p {
  margin: 0 0 24px 0;
}

.wrap {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

#grid {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#grid .col {
  border-left: 1px solid rgba(233, 233, 233, 0.05);
  border-right: 1px solid rgba(233, 233, 233, 0.05);
  float: left;
  height: 1000px;
  margin: 0 12px;
  width: 216px;
}

.section,
.section .article {
  padding-bottom: 48px;
}

.section:last-child {
  padding-bottom: 0;
}

.section hr {
  height: 24px;
  border-bottom: 1px solid rgba(233, 233, 233, 0.05);
  border-top: 1px solid rgba(233, 233, 233, 0.05);
  margin-bottom: 24px;
}

.section .article .wrap h2 {
  float: left;
  padding-left: 252px;
}

.section .article .wrap p {
  padding-left: 492px;
  padding-right: 12px;
}

#header {
  padding: 96px 0 192px 0;
}

#header h1 {
  padding: 0 12px 0 492px;
  margin-bottom: 16px;
}

#header span {
  color: #9b9b9b;
  display: block;
  padding: 0 12px 0 492px;
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 96px;
}

#nav ul {
  float: left;
  list-style: none;
  padding: 0 12px;
}

#nav a {
  color: #bbb;
  display: inline-block;
  margin-bottom: 8px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#nav a:hover {
  text-decoration: underline;
}

#nav a.active {
  color: #fff;
  font-weight: 600;
}

#nav a.active:before {
  width: 8px;
  height: 8px;
  position: absolute;
  content: "";
  top: 10px;
  left: -24px;
  background-color: #fff;
  border-radius: 100%;
}

#footer {
  padding: 48px 0 96px 0;
}

#footer span {
  display: block;
}

#footer .contact {
  padding: 0 12px;
}

/* photos */
.gallery {
  margin: 24px 0;
  padding-left: 492px;
  padding-right: 12px;
}

.gallery .photo.hero {
  display: inline-block;
  height: auto;
  margin: 0;
  width: 100%;
}

.gallery .photo {
  float: left;
  margin: 0 24px 24px 0;
  overflow: hidden;
  width: 216px;
  object-fit: cover;
}

.gallery .photo:nth-child(even) {
  margin: 0;
}

.gallery .photo .img img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  display: block;
}

.gallery .desc {
  color: #bbb;
  display: block;
  margin-top: 8px;
  text-align: right;
}

/* https://www.cssscript.com/pure-css-photo-gallery-image-lightbox-support/ */
label[for] {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1;
  overflow: auto;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.75s ease-out;
  transition: transform 0.75s ease-out;
}

.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 96%;
  max-height: 96%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  outline: 9999px solid rgba(0, 0, 0, 0.88);
  border-radius: 4px;
}

input[type="checkbox"]:checked + .lightbox {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"]:checked ~ #content {
  opacity: 0.125;
}

/* Self-Clear Floats*/
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
