@charset "UTF-8";

:root {
  --black: #141414;
  --grey: #898989;
  --white: #ffffff;
}

* {
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  line-height: 160%;
}

p {
  margin: 0 0 24px 0;
}

.wrap {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

#grid {
  bottom: 0;
  left: 0;
  opacity: 0.05;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

#grid .col {
  border-left-color: var(--grey);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: var(--grey);
  border-right-style: solid;
  border-right-width: 1px;
  float: left;
  height: 1000px;
  margin: 0 12px;
  width: 216px;
}

.section,
.section .article {
  padding-bottom: 48px;
}

.section:last-child {
  padding-bottom: 0;
}

.section hr {
  border-bottom-color: var(--grey);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: var(--grey);
  border-top-style: solid;
  border-top-width: 1px;
  height: 24px;
  margin-bottom: 24px;
  opacity: 0.05;
}

.section .article .wrap h2 {
  float: left;
  padding-left: 252px;
}

.section .article .wrap p {
  padding-left: 492px;
  padding-right: 12px;
}

#header {
  padding: 96px 0 192px 0;
}

#header h1 {
  padding: 0 12px 0 492px;
  margin-bottom: 16px;
}

#header span {
  color: var(--grey);
  display: block;
  padding: 0 12px 0 492px;
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 96px;
  z-index: 9998;
}

#nav ul {
  float: left;
  list-style: none;
  padding: 0 12px;
}

#nav a {
  color: var(--grey);
  display: inline-block;
  margin-bottom: 8px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#nav a:hover {
  text-decoration: underline;
}

#nav a.active {
  color: var(--white);
  font-weight: 600;
}

#nav a.active:before {
  background-color: var(--white);
  border-radius: 100%;
  content: "";
  height: 8px;
  left: -24px;
  position: absolute;
  top: 10px;
  width: 8px;
}

#footer {
  padding: 48px 0 96px 0;
}

#footer span {
  display: block;
}

#footer .contact {
  padding: 0 12px;
}

/* photos */
.gallery {
  margin: 24px 0;
  padding-left: 492px;
  padding-right: 12px;
}

.gallery .photo.hero,
.gallery .photo:only-child {
  display: inline-block;
  height: auto;
  margin: 0;
  width: 100%;
}

.gallery .photo {
  float: left;
  margin: 0 24px 24px 0;
  object-fit: cover;
  overflow: hidden;
  width: 216px;
}

.gallery .photo .img {
  border-radius: 4px;
  max-height: 233px;
  overflow: hidden;
}

.gallery .photo:nth-child(even) {
  margin: 0;
}

.gallery .photo .img img {
  display: block;
  height: auto;
  max-width: 100%;
}

.gallery .desc {
  color: var(--grey);
  display: block;
  margin-top: 8px;
  text-align: right;
}

/* https://www.cssscript.com/pure-css-photo-gallery-image-lightbox-support/ */
label[for] {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.lightbox {
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: auto;
  z-index: 9998;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.75s ease-out;
  transition: transform 0.75s ease-out;
}

.lightbox img {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  left: 50%;
  max-width: 96%;
  max-height: 96%;
  outline: 9999px solid rgba(0, 0, 0, 0.88);
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked + .lightbox {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"]:checked ~ #content {
  opacity: 0.125;
}

/* Self-Clear Floats*/
.group:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
